@charset "UTF-8";


html{
max-width: max-content;
margin: 0 auto;
}

.header{
    background-color:#141f40 ;
    height: 100px;
    width: 400px;
}


.center-left{
    background-color: #80bfa8;
    height: 250px;
    width: 150px;
    float:  left;
}

.center-right{
    background-color: #8c2727;
    height: 250px;
    width: 400px;
    
}

.footer{
    background-color: #d98d30;
    height: 100px;
    width: 400px;
}